body {
	background: #a0d8ef; /* Old browsers */
	background: -moz-linear-gradient(left,  #a0d8ef 1%, #ddf1f9 50%, #feffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#a0d8ef), color-stop(50%,#ddf1f9), color-stop(100%,#feffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #a0d8ef 1%,#ddf1f9 50%,#feffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #a0d8ef 1%,#ddf1f9 50%,#feffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #a0d8ef 1%,#ddf1f9 50%,#feffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #a0d8ef 1%,#ddf1f9 50%,#feffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=1 ); /* IE6-9 */
	padding: 0;
	margin: 0;
	height: 100%;
}
html {
	height: 100%;
}
@font-face {
	font-family: Myriad-pro;
	src: url(MYRIADPRO-COND.OTF);
}
a {
	text-decoration: none;	 
}
h3,h4 {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
input:invalid, textarea:invalid {
    -moz-box-shadow: none;
    box-shadow: none;
}
.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	overflow-x:hidden;
}
.activeCategory {
	font-style: italic;
	background-color: rgba(126,125,124,0.9) !important;
	 
}
header {
	background:url('../images/sigLogoHeader.png') no-repeat;
	background-color: #0f5b88;
	color:  white;
	text-indent: 80px;
	font-size: 1.2em;
	height: 60px;
	line-height: 60px;
	width: 100%;
}
.hiddenTaskID {
	display: none;
}
.profileInfo {
	border-radius: 5px;
	background-color: hsl(201, 100%, 30%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
	background-image: -moz-linear-gradient(top, #00a5ff, #006399);
	background-image: -ms-linear-gradient(top, #00a5ff, #006399);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
	background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
	background-image: -o-linear-gradient(top, #00a5ff, #006399);
	background-image: linear-gradient(#00a5ff, #006399);
	border-color: #006399 #006399 hsl(201, 100%, 25%);
	color: #fff !important;
	cursor: pointer;
	display: inline;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
	width: 55px;
	height: 25px;
}
.newCategory {
	border-radius: 5px;
	background-color: hsl(201, 100%, 30%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
	background-image: -moz-linear-gradient(top, #00a5ff, #006399);
	background-image: -ms-linear-gradient(top, #00a5ff, #006399);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
	background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
	background-image: -o-linear-gradient(top, #00a5ff, #006399);
	background-image: linear-gradient(#00a5ff, #006399);
	border-color: #006399 #006399 hsl(201, 100%, 25%);
	color: #fff !important;
	cursor: pointer;
	display: inline;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
	width: 45%;
	height: 30px;
	margin:10px 0px 0px 2%;
}
#dialog-form {
	margin-left: 5%;
}
#catDescription {
	font-size: 0.9em;
	resize:none;
	width:90%;
	height: 70px !important;
}
.categoryList {
	list-style: none;
	padding-left: 0px;
}
.categoryList li {
	background: url("../images/li-icon.png") no-repeat 5px;
	background-color: rgba(189,188,187,0.8);
	color: white;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	text-indent: 20px;
	margin-top: 2px;
	font-size: 1.2em;
}
.ui-widget-header {
	background: #a0d8ef !important;
	border:none !important;
}
#dropToDelete {
	position: fixed;
	width: 16%;
	height: 30px;
	border: 1px dotted blue;
	bottom: 0px;
	cursor: pointer;
	text-align: center;
	line-height:30px;
}
.menu {
	width: 16%;
	height: 100%;
	float: left;
	background: #87acc1;
	background: rgb(42,176,237); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhYjBlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iIzlmZDhlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2JmZThmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGY1ZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(42,176,237,1) 0%, rgba(159,216,239,1) 54%, rgba(191,232,249,1) 99%, rgba(228,245,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,176,237,1)), color-stop(54%,rgba(159,216,239,1)), color-stop(99%,rgba(191,232,249,1)), color-stop(100%,rgba(228,245,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(42,176,237,1) 0%,rgba(159,216,239,1) 54%,rgba(191,232,249,1) 99%,rgba(228,245,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(42,176,237,1) 0%,rgba(159,216,239,1) 54%,rgba(191,232,249,1) 99%,rgba(228,245,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(42,176,237,1) 0%,rgba(159,216,239,1) 54%,rgba(191,232,249,1) 99%,rgba(228,245,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(42,176,237,1) 0%,rgba(159,216,239,1) 54%,rgba(191,232,249,1) 99%,rgba(228,245,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-8 */
}
.center { 
	width: 61%;
	float: left;
	height: auto;
	margin-left: 1%;
}
.taskOperation {
	width: 22%;
	float: left;
	height: auto;
}
.menu:after, .center:after, .taskOperation:after {
	content: "";
	clear: both;
	display: block;
}
.openTask {
	border-radius: 5px;
	background-color: hsl(201, 100%, 30%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
	background-image: -moz-linear-gradient(top, #00a5ff, #006399);
	background-image: -ms-linear-gradient(top, #00a5ff, #006399);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
	background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
	background-image: -o-linear-gradient(top, #00a5ff, #006399);
	background-image: linear-gradient(#00a5ff, #006399);
	border-color: #006399 #006399 hsl(201, 100%, 25%);
	color: #fff !important;
	cursor: pointer;
	display: block;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
	width: 100px;
	height: 30px;
	margin-left:1%;
}

#logo {
	color: white;
	font-weight: bold;
	font-style: italic;
	margin-left: 28%;
}
#logo:hover {
	color: #0d28cc;
}
.content { 
	margin: 10px 0px 0px 0px;
	width: 100%;
	height: auto;
}
.ui-tooltip {
    font-size:12px !important;
    font-family:Calibri;]
}
.addNewTask, .editTask{
	width:100%;
	border-radius: 5px;
	border: 1px solid #42a3dc;
	background: #87acc1;
	padding-bottom: 15px;
	text-align: center;	 
}
#taskTitle, #e-taskTitle {
	background-color: #8ecef4;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
#cat, #e-cat {
	width: 150px;
	height: 25px;
	margin-left: 25px;
	border-radius: 5px;
	border: none;
}
#title, #e-title {
	width: 75%;
	height: 25px;
	border-radius: 5px;
	margin: 10px 0px 5px 0px;
	border: none;
	padding: 0px;
}
#descLabel {
	 text-align: left;
}
#desc, #e-desc, #comment, #e-comment { 
	border-radius: 5px;
	border: none;
	resize:none;
	margin-top: 5px;
	width: 97%;
}
#daysBefore, #e-daysBefore {
	border: none;
	border-radius: 5px;
	width: 60px;
	margin-left: 10px;
}
.ui-datepicker {
    font-size: 1em !important;
}
.taskControls {
	width: 30%;
	height: 30px;
	border-radius: 5px;
	margin: 20px 0px 0px  1.5%;
	background-color: hsl(145, 62%, 68%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
	background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
	background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: linear-gradient(#cdf3dd, #7adfa4);
	border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
	color: #333 !important;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	-webkit-font-smoothing: antialiased;
}
.saveTask:first-child {
	margin-left: 60%;
}
.tasksPreview {
	width: 47%;
	height: 25px;
	border-radius: 10px;
	background-color:rgba(66,120,200,0.8);
	color: white;
	cursor: pointer;
	float: left;
	padding: 4px;
	margin:10px 0px 0px 1%;
	word-wrap:break-word;
}
.content:after{
	content: "";
	clear: both;
	display: block;
}
.rightText {
	float: right;
	width: 30%;
}
.previewTitle {
	width: 70%;
	height: 23px;
	white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.missedTask {
	color: red;
}

@media screen and (min-width: 940px) and (max-width: 1024px) {
	.newCategory {
		display: block;
		width: 95%;
	}
	.taskControls {
		width: 45%;
	}
}

@media screen and (min-width: 810px) and (max-width: 940px) {
	.newCategory {
		display: block;
		width: 95%;
	}
	.taskControls {
		width: 45%;
	}
	.tasksPreview {
		font-size: 0.95em;
	}
}
@media screen and (min-width: 680px) and (max-width: 810px) {
	.menu {
		width: 20%;
	}
	.categoryList li {
		font-size: 1em;
	}
	.center {
		width: 43%;
	}
	.center .tasksPreview {
		width: 95%;
	}
	.taskOperation {
		width: 35%;
	}
	.newCategory {
		width: 95%;
	}
	.taskControls {
		width: 45%;
	}
	#dropToDelete {
		width: 20%;
	}
}
@media screen and (min-width: 500px) and (max-width: 680px) {
	.menu {
		width: 20%;
	}
	.categoryList li {
		font-size: 0.9em;
	}
	.center {
		width: 43%;
	}
	.center .tasksPreview {
		width: 95%;
		font-size: 0.9em;
	}
	.previewTitle {
		width: 65%;
	}
	.rightText {
		width: 35%;
	}
	.taskOperation {
		width: 36%;
	}
	.newCategory {
		width: 95%;
		font-size: 0.7em;
	}
	.openTask {
		font-size: 0.7em;
	}
	.taskControls {
		width: 95%;
		margin-top: 5px;
	}
	#dropToDelete {
		width: 20%;
	}
	#taskTitle,#e-taskTitle {
		margin-bottom: 5px;
	}
	#title,#e-title {
		margin: 2px 0px 2px 0px;
	}
	#e-cat,#cat {
		width: 60%;
		margin-left: 0px;
	}
	#e-desc,#desc {
		width: 95%;
		height: 100px;
	}
	#e-comment,#comment {
		height: 60px;
	}
}